body {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  background-image: url("bg_bamboo.png");
  background-repeat: repeat-y;
}

form {
  font-size: 2em;
}

input[type="submit"] {
  font-size: 1em;
}

input[type="text"], input[type="password"] {
  font-size: 0.75em;
}