body {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  background-image: url("assets/bg_matcha.jpg");
  /* background-repeat: repeat-y; */
  background-size: 100%;
}

form {
  font-size: 2em;
}

input[type="submit"] {
  font-size: 1em;
  background-color: black;
  color: white;
  padding: 5px;
}

input[type="text"], input[type="password"] {
  font-size: 0.75em;
}

label {
  width: 150px;
  clear: left;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

input, label {
  float: left;
}

#submit_button {
  float: right;
}

#fieldset_area {
  background-color: white;
  display: inline-block;
  padding: 20px;
  opacity: 0.95;
}