body {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*max-width: 960px;*/		/* width of content */
  margin: 0 auto; 		/* centers on the page */
}

#outputarea {
  text-align: left;
  font-family: Consolas, monaco, monospace;
  max-height: 600px;
  overflow-y: scroll;
}

#scoresarea {
  /* text-align: left; */
  font-family: Consolas, monaco, monospace;
  max-height: 600px;
  /* max-width: 800px; */
  overflow-x: scroll;
  overflow-y: scroll;
  /* centers on the page */
  margin: 0 auto;
}

#assessmenttitlearea {
  padding: 20px;
}

.basiclook {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto; 		/* centers on the page */
}

.headerlook{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto; 		/* centers on the page */
}

.canvaslook {
  /* border: 2px solid #888;
  border-radius: 4px; */
  position: relative;
}

.elementlook {
  padding: 10px;
  margin: 10px 20px 10px 20px;
}

.largetext {
  font-size: 30px;
}

.xlargetext {
  font-size: 60px;
}

.chinesefont {
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
}

a {
  font-weight: bold;
  text-decoration: none;
}

table {
  font-size: 20px;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

th, td {
  text-align: left;
  /* padding: 8px; */
}

tr:nth-child(even){
  background-color: lightgray;
}

th {
  background-color: black;
  color: white;
}

.smalltable {
  margin: 0 auto;
  width: 50%;
}

.smalltable th, .smalltable td {
  text-align: center;
}

.table2col_25_75 td:nth-child(1) {
  width: 25%;
}

.table2col_25_75 td:nth-child(2) {
  width: 75%;
}

.table2col_50_50 td:nth-child(1) {
  width: 50%;
}

.table2col_50_50 td:nth-child(2) {
  width: 50%;
}

.symboltable td:nth-child(1) {
  width: 5%;
}

.symboltable td:nth-child(2) {
  width: 20%;
}

.symboltable td:nth-child(3) {
  width: 70%;
}

.structuretable th, .overalltable th {
  background-color: #555500;
  color: white;
}

.structuretable tr:nth-child(even), .overalltable tr:nth-child(even) {
  background-color: #FFFFAA;
}

.techniquetable th {
  background-color: #440027;
  color: white;
}

.techniquetable tr:nth-child(even)  {
  background-color: #CD88AF;
}

.precisiontable th {
  background-color: #13073A;
  color: white;
}

.precisiontable tr:nth-child(even)  {
  background-color: #887CAF;
}

.categorytable th {
  background-color: #572A72;
  color: white;
}

.categorytable tr:nth-child(even)  {
  background-color: #9775AA;
}

.detailedtable th, .detailedtable td {
  text-align: center;
  /* padding: 8px; */
}

.individualtable th, .detailedtable th {
  background-color: #13073A;
  color: white;
}

.kanji_content { font-size: 1em; }
.kanji_content table {
  border: 1px solid black;
  background-color: white;
}
.kanji_content tr, .kanji_content th, .kanji_content td {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.words_content { font-size: 1em; }
.words_content table {
  table-layout: fixed;
  border: 1px solid black;
}
.words_content tr, .words_content th, .words_content td {
  background-color: white;
  color: black;
  border: 1px solid black;
  text-align: center;
}

#header_area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  border-bottom: 5px solid black;
}

#header_message {
  text-align: left;
  display: inline-block;
}

#header_options {
  text-align: right;
  display: inline-block;
}

#header_options input[type="submit"] {
  background: transparent;
  border: none;
  font-size: 1em;
  padding: 5px;
  font-weight: bold;
}

#quiz_header_area {
  margin: 10px;
  font-size: 1.75em;
  font-family: Consolas, monaco, monospace;
}

#quiz_header_title {
  font-weight: bold;
}

#quiz_header_progress {
  font-weight: normal;
}

#waiting_message_area {
  font-family: Consolas, monaco, monospace;
}

#vocabulary_area {
  text-align: left;
}

#legend_area {
  margin: 10px;
}

.legend_font {
  font-size: 2em;
}